html {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", HelveticaNeue, Arial;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 9rem
}

@media (max-width: 800px) {
  h1 {
    font-size: 4rem
  }
}