
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Yusuf Yalim's personal website." />
  <meta name="description" content="Yusuf Yalim's personal website." />
  <title>Yusuf Yalım</title>
  {{ $styles := resources.Get "scss/styles.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-TDV3N3LET5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TDV3N3LET5', {
      page_path: window.location.pathname,
    });
  </script>
</head>
<body class="dark">
  <section class="page-container">
    <h1 class="introduction">
      <span class="name">Yusuf Yalım,</span>
      a software engineer.
    </h1>
    <ul class="social-links">
      <li>
        <a class="github" target="_blank" href="https://www.github.com/yyalim">Github</a>
      </li>
      <li>
        <a class="linkedin" target="_blank" href= "https://www.linkedin.com/in/yusufyalim/">LinkedIn</a>
      </li>
    </ul>
  </section>
</body>
</html>
